@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 100%;
        margin: 0 auto;
    }
    
    header {
        border-radius: 15px;
        margin: 10px;
        padding: 10px;
        display: grid;
        grid-template-columns: 25px auto;
        gap: 65px;
        font-weight: bold;
    }

    header img {
        width: 70px;
        height: auto;
    }

    header span {
        font-size: 2rem;
    }

    .navigation {
        display: block;
        max-height: none;
        overflow: visible;
        opacity: 1;
        transform: none;
        transition: none;
    }

    nav a:hover {
        color: #ffffff;
        background-color: var(--color-secondary);
        transform: translateY(-5px);
    }

    .hamburger {
        display: none;
    }

    .navigation ul {
        display: flex;
    }

    nav ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-weight: bold;
    }

    .recipe-cards {
        display: grid;
        grid-template-columns: 150px 1fr 130px;
        grid-template-rows: auto auto;
        grid-template-areas:
            "image title button"
            "image description button";
        margin: 10px auto;
        background-color: var(--color-background);
        max-width: 900px;
        box-shadow: 0 6px 18px rgba(127, 85, 57, 0.2);
    }

    .recipe-cards img {
        width: 150px;
        height: auto;
        object-fit: cover;
    }

    .weather-cards {
        max-height: 250px;
    }

    .full-recipe-card {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "title title"
            "image image"
            "ingredients-title steps-title"
            "ingredients steps";
        padding: 20px;
        gap: 10px;
        max-width: 800px;
        margin: 0 auto 20px;
    }

    .full-recipe-card img {
        transition: transform 0.5s, border-radius 0.5s, box-shadow 0.5s;
    }

    .full-recipe-card img:hover {
        transform: scale(1.05) rotate(-1.2deg);
        border-radius: 10px;
        box-shadow: 0 8px 24px rgba(127, 85, 57, 0.35);
    }

    .full-recipe-card ul {
        box-shadow: 0 6px 18px rgba(127, 85, 57, 0.2);   
        padding: 25px;
        border-radius: 22px;
    }

    .full-recipe-card img {
        width: 50%;
        max-height: 400px;
    }
}