/*Palettes*/
:root {
  --color-primary: #becbdc;
  --color-secondary: #415A77;
  --color-contrast: #1B263B;
  --color-background: #E0E1DD;
  --color-text: #0D1B2A;
}

* {
    font-family: Roboto, 'sans-serif';
}

header {
    background-color: var(--color-primary);
    padding: 20px 0 20px 10px;
    display: grid;
    grid-template-columns: 35px auto 60px;
    gap: 15px;
    font-weight: bold;
    column-gap: 15px;
}

header img {
    display: block;
    border-radius: 32px;
    width: 50px;
    height: auto;
}

header span {
    margin-top: 5px;
    font-size: 1.2rem;
    text-align: center;
}

h1 {
    text-align: center;
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

nav ul li {
    flex: 1;
}

nav a {
    display: block;
    background-color: var(--color-background);
    color: #3D405B;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #ffffff;
    background-color: var(--color-secondary);
}

nav .active {
    color: #d7fcff;
}

.navigation li.current a {
    background-color: var(--color-primary);
}

.hamburger {
    background: none;
    border: none;
    color: #3D405B;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-self: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
}

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 32px;
    transition: all 0.3s ease-out;
}

.social img {
    width: 32px;
    height: 32px;
}

.social a:hover {
    background-color: #ddd;
}

/* Grid/List */
.menu {
	margin: 1rem auto;
	padding: 0.5rem;
	text-align: center;
}

.menu button {
    padding: 0.6rem 1.5rem;
    border-radius: 32px;
    background-color: #ddd;
    color: #0D1B2A;
    font-weight: bold;
    border: none;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

.menu button:hover {
    cursor: pointer;
    background-color: var(--color-secondary);
    color: #ffffff;
}

.menu button:active {
    transform: scale(1.1);
    transition: none;
}

/* DIRECTORY MEMBER CARDS ONLY */
#directory .member-card {
    text-align: center;
    background-color: #ddd;
    border: 3px solid #becbdc;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
}

section img {
    max-width: 100%;
    border-radius: 15px;
}

article.cards .image-container {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #eee;
    border-radius: 10px;
}

article.cards .image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

article.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

article.cards a{
    text-decoration: none;
    color: var(--color-contrast);
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s;
}

article.cards a:hover {
    color: var(--color-secondary);
}

article.cards.list {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: var(--color-background);
    padding: 10px;
    border-radius: 15px;
}

article.cards.list section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    background-color: #f2f2f2;
}

article.cards.list section img {
    display: none;
}

article.cards.list section h3,
article.cards.list section p,
article.cards.list section a {
    margin: 0 10px;
}

/* HOME PAGE CSS*/

.cta {
  text-align: center;
  margin: 0 0 30px;
}

.cta-button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--color-secondary);
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.cta-button:active {
    background-color: var(--color-primary);
    color: var(--color-text);
    transform: scale(1.1);
    transition: none;
}

/* WEATHER CARDS */

.weather {
    background-color: #becbdc;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    max-width: 300px;
    text-align: center;
}

.weather figure {
    margin: 0;
}

.forecast {
    background-color: #becbdc;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    max-width: 300px;
    text-align: center;
}

#weather-cards {
    display: flex;
    justify-content: center;
    gap: 5px;               
    flex-wrap: wrap;         
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0;

    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0,0,0,1) 100%,
        rgba(0,0,0,0) 100%
    );

    mask-image: linear-gradient(
        to bottom,
        rgba(0,0,0,1) 65%,
        rgba(0,0,0,0) 95%
    );
}

.hero img:hover {
    opacity: 1;
    transform: none;
    filter: none;
    transition: none;
    cursor: default;
}

.hero img,
.hero img:hover {
    border-radius: 0;
}

.hero h1 {
    font-size: 1rem;
    margin: 0;
    color: #ffffff;
    background-color: var(--color-secondary);
    padding: 0.5rem 2rem;

}

/* SPOTLIGHT CARDS */
#spotlights {
    width: 100%;
}

#spotlight-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
    background-color: var(--color-primary);
    padding: 15px;
    border-radius: 22px;
    max-width:300px;
    text-align: center;
    border: 5px dashed var(--color-secondary);
}

#spotlight-cards a {
    display: inline-block;
    padding: 5px 10px;
    background-color: var(--color-secondary);
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 32px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#spotlight-cards a:hover {
    transform: scale(1.05);
    background-color: var(--color-contrast);
}

#events-section h2 {
    text-align: center;
    color: var(--color-text);
}

#spotlights h2 {
    text-align: center;
}

/* EVENTS SECTION */

#events-section {
    background-color: var(--color-primary);
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
}

#events-section .event {
    color: #ffffff;
    background-color: #0D1B2A;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
}

/* JOIN FORM STYLE */

.join {
    display: flex;
    justify-content: center;
}

form {
    background-color: #E0E1DD;
    padding: 30px;
    max-width: 600px;
    border: 5px solid var(--color-primary);
    border-radius: 24px;
    margin: 10px;
}

form label {
    display: block;
    font-size: 1rem;
    color: #1B263B;
    padding-top: .1rem;
    width: 280px;
}

form label textarea {
    max-width: 250px;
    max-height: 50px;
    margin-top: 5px;
    resize: none;
}

form h3 {
    font-size: .9rem;
    color: #3D405B;
    margin: 1.5rem 0 .2rem 0;
    border-bottom: 1px solid #eee;
}

form input[type=text],
form input[type=tel],
form input[type=date],
form input[type=email],
form select {
    display: block;
    margin: .1rem 0 1rem 0;
    padding: .4rem;
    border: 2px solid #999;
    border-radius: 15px;
    border-left-width: 5px;
    border-left-color: #555;
    font-size: 1rem;
    color: #3D405B;
    width: 250px;
}

form input:required {
    border-left-color: #d70000;
}

form input:focus {
    border-left-color: black;
    outline: none;
}

form input:required:valid {
    border-left-color: green;
}

form input[type=submit] {
    display: block;
    margin: 20px auto 10px;
    border: none;
    text-align: center;
    background-color: var(--color-contrast);
    color: white;
    border-radius: 32px;
    padding: .6rem 3rem;
    font-size: 1.5rem;
    appearance: none;
    transition: all 0.3s;
    cursor: pointer;
}


form input[type=submit]:active {
    transform: scale(0.9);
    background-color: var(--color-secondary);
    transition: none;
}

/* MEMBERSHIP CARDS */

.grid-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 0 1rem;
}

.membership-cards article {
    background-color: var(--color-primary);
    padding: .5rem 2rem;
    margin: 30px 0 30px 0;
    border-radius: 32px 5px 32px 5px;
    height: 130px;
    opacity: 0;
    transform: translatex(20px);
    animation: fadeUp 0.6s ease-out forwards;
}

.membership-cards article h3 {
    font-size: 1.5rem;
}

.membership-cards article button {
    background-color: #0D1B2A;
    color: #ffffff;
    padding: .8rem 1.5rem;
    border-radius: 32px;
    cursor: pointer;
    appearance: none;
    border: none;
    margin: 5px;
    transition: all 0.3s;
}

.membership-cards article button:hover {
    background-color: #ffffff;
    color: #0D1B2A;
    transform: scale(1.05);
}

.membership-cards article button:active {
    transform: scale(1);
    transition: none;
}

#closeModal {
    border-radius: 32px;
    border: none;
    background-color: var(--color-secondary);
    padding: 0.5rem 0.6rem;
}

#membershipModal {
    border-radius: 24px;
    border: 3px solid var(--color-primary);
    max-width: 300px;
    box-shadow: 0 0 10px rgba(56, 56, 56, 0.5);
}
::backdrop {
  background: rgb(0 0 0 / 40%);
}

#membershipModal button {
    transition: all 0.3s;
}

#membershipModal button:hover {
    transform: scale(1.07);
    cursor: pointer;
}

#membershipModal button:active {
    transition: none;
    transform: scale(1);
}

.membership-cards article:nth-child(1) { animation-delay: 0.1s; }
.membership-cards article:nth-child(2) { animation-delay: 0.3s; }
.membership-cards article:nth-child(3) { animation-delay: 0.4s; }
.membership-cards article:nth-child(4) { animation-delay: 0.6s; }

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translatex(0);
    }
}

/* RESULTS PAGE */

#results {
    background-color: var(--color-primary);
    padding: 20px;
    margin: 20px;
    border-radius: 32px;
    border: 3px solid var(--color-secondary);
    box-shadow: 0 0 10px rgba(56, 56, 56, 0.5);
}

.thankyou-page h2{
    text-align: center;

}