@media only screen and (min-width: 64rem) {

    header,
    main,
    nav,
    footer {
        max-width: 100%;
        margin: 0 auto;
    }
    
    header {
        border-radius: 15px;
        margin: 10px;
        padding: 10px;
        display: grid;
        grid-template-columns: 25px auto;
        gap: 15px;
        font-weight: bold;
    }

    header span {
        font-size: 2rem;
    }

    .navigation {
        display: block;
    }

    .hamburger {
        display: none;
    }

    .navigation ul {
        display: flex;
    }

    nav ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-weight: bold;
    }

    /*Social Media Links*/
    .social a:hover {
        background-color: #ddd;
        transform: scale(1.2);
    }

    li {
        flex: 1 1 100%;
    }
    
    .sections-grid {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
    }

    section img {
        max-width: 100%;
        border-radius: 15px;
        transition: transform 0.5s, border-radius 0.5s;
    }

    .social section img:hover {
        transform: scale(1.04);
        border-radius: 10px;
    }

    .options button:hover {
        transform: scale(1.05);
    }

    article.cards a:hover {
        transform: scale(1.1);
    }

    /* HOME PAGE */
    .cta-button:hover {
        border-radius: 32px;
    }

    .weather {
        width: 300px;
    }

    .forecast {
        width: 300px;
    }

    .forecast {
        transition: 0.3s;
    }

    .forecast:hover {
        transform: scale(1.02);
        cursor: default;
    }

    .weather {
        transition: 0.3s;
    }

    .weather:hover {
        transform: scale(1.02);
        cursor: default;
    }

    .hero h1 {
        font-size: 2rem;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translate(-50%);
        margin: 0;
        color: #ffffff;
        background-color: var(--color-secondary);
        padding: 0.5rem 2rem;
        border-radius: 32px;
        z-index: 2;
    }

    #spotlight-cards {
        max-width: 850px;
        gap: 35px;
    }

    #events-section {
        max-width: 800px;
    }

    #events-section .event {
        max-width: 800px;
    }
    .columns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form label textarea {
        display: flex;
    }

    form input[type=submit]:hover {
        transform: scale(1.05);
        background-color: var(--color-secondary);
    }

    form input[type=submit]:active {
        transform: scale(1);
        background-color: #0D1B2A;
        transition: none;
    }

    #membershipModal {
        max-width: 450px;
    }

    .place-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .place-cards figure img:hover {
        transform: scale(1.02);
        border-radius: 33px;
        box-shadow: 0 0 10px rgba(56, 56, 56, 0.5);
    }
}