@media (min-width: 35rem) {
    .place-card:hover {
        transform: translateY(-5px);
    }

    .place-card {
        grid-template-areas: 
            "image name"
            "image description"
            "image location"
            "image button";
    }

    .place-card p {
        text-align: center;
    }

    .place-card address {
        text-align: center;
    }

}